<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi, please click on this link: <%= @confirmation_url %> to verify your subscription</p>
</body>
</html>
