.signup-header{
  text-align: center;
}

div#error_explanation h2 {
  text-align: center;
  font-size: 0.9em;
  color: red;
}

div#error_explanation ul li {
  text-align: justify;
  font-size: 0.5em;
  color: red;
}

.forgot-password-link{
  float: right;
}

.password-reset{
  margin-top: 2.5em;
}
