// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delete-post-btn{
  float: right;
}

.post-detail{
  margin-top: 6em;
}

.empty-posts{
  margin-top: 6em;
}

.posts-list{
  bottom: px-rem(12);
}
